$borderColor: rgba(255, 25, 0, 0.322);
$errorBg: rgb(192 29 29/15%);
$errorColor: #ef8d8dfa;
.alert-danger {
  // border: 2px dotted $borderColor;
  margin: 20px;
  padding: 1.5rem;
  border-radius: 10px;

  .alert-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .header-title {
      display: flex;
    }
    .icon {
      size: 20px;
      margin-right: 10px;
    }

    .close {
      cursor: pointer;
    }
  }

  p {
    font-size: 14px;
  }
}
